<div class="bg-light-background padded form-wrapper">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-container">
      <h1>Become a host</h1>
      <p>List your villa</p>
      <%= render 'form' %>
    </div>
  </div>
</div>

