#profilep {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

#profile-info {
  padding-left: 0px;
  & ul {
  list-style: none;
  padding-left: 0px;
  }
  border-color: $gold;
  border-radius: 20px;
  text-align: center;
  border-style: solid;
  padding: 20px;
  border-width: 0.5px;
}

.showcontainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  & h2 {
  color: $gold;
  }
}

.listings {
  text-align: center;
}

.bookings{
  text-align: center;
}

.showcontainer .bottom-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
