<div class="form-wrapper bg-light-background padded">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-container">
      <h1>You're one step away from a great vacation</h1>
      <p>Book your villa</p>
        <div class="form">
       <%= render 'form' %>
        </div>
       <br>
       <%= link_to "Back", villa_path(@villa)%>
    </div>
  </div>
</div>
