<div class="form-wrapper bg-light-background padded">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-container">
      <h1>Your Profile Info</h1>
      <p>Please check if everything is correct</p>
        <div class="form">
          <%= render 'form' %>
        </div>
       <br>
       <%= link_to "Back", user_path(@user)%>
    </div>
  </div>
</div>

