a:hover {
  text-decoration: none;
}

.card-wrapper {
  transition: all 1s ease;
  background-color: $light-background;
  height: 420px;
  border-radius: 5px;
  padding-bottom: 0;
  position: relative;
  margin-left: 10px;
  &:hover {
    transition: all 1s ease;
    background-color: white;
    cursor: hand;
    cursor: pointer;
    .card-hover{
      transition: all 1s ease;
      opacity: 0.9;
      display: flex;
      vertical-align: middle;
    }
    .card-description{
      transition: all 1s ease;
      border: 5px solid $beige;
    }
  };
}

.infowindow {
  .card-wrapper {
    height: 300px;
    width: 300px;
  }

  .card {
    height: 275px;
    width: 300px;
  }

  .card-hover {
    height: 200px;
  }
}

.card {
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  border-radius-top: 10px;
}

// .card-wrapper-infowindow {
//   transition: all 1s ease;
//   background-color: $light-background;
//   height: 120px;
//   border-radius: 5px;
//   padding-bottom: 0;
//   position: relative;
//   margin-left: 10px;
// }

.card-hover {
  height: 350px;
  opacity: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h2 {
    font-size: 25px;
    color: $gold;
  }
  p {
    font-size: $base-size;
    color:$light-brown;
    font-family: Open Sans;
  }
}

.card-description {
  position: absolute;
  height: 50px;
  bottom: 35px;
  left: 10px;
  right: 10px;
  background: white;
  border:0px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.villa-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.villa-price {
  display: flex;
  align-items: center;
}

.villa-location {
  display: flex;
  align-items: center;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover{
  opacity: 0.1;
}

#show-back-link {
  position: relative;
  padding: 15px;
}
