a:hover {
  text-decoration: none;
}

.card-wrapper {
  background-color: $light-background;
  height: 420px;
  border-radius: 5px;
  padding-bottom: 0;
  position: relative;
  margin-left: 10px;
  &:hover {
    background-color: $beige;
    cursor: hand;
    cursor: pointer;
  };
}

.card {
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  border-radius-top: 10px;
}

.card-hover {
  height: 350px;
  opacity: 0;
  background-color: $beige;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  &:hover{
    opacity: 0.9;
  };
}

.card-description {
  position: absolute;
  height: 50px;
  bottom: 35px;
  left: 10px;
  right: 10px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.villa-name {
  display: flex;
  align-items: center;
}

.villa-price {
  display: flex;
  align-items: center;
}

.villa-location {
  display: flex;
  align-items: center;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover{
  opacity: 0.1;
}

#show-back-link {
  position: relative;
  padding: 15px;
}
